* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
  background-image: url("img.jpg");
  background-size: cover;
}

button {
  border-radius: 4px;
  border: none;
}

body,
button,
input {
  font-family: "Playfair Display", serif;
}

.container {
  display: grid;
  width: 60%;
}

#book-list {
  margin: 20px 0;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: 220px;
  gap: 20px;
  justify-content: center;
  width: 100%;
  grid-auto-columns: 220px 160px;
}

.book {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  gap: 8px;
  height: 220px;
}

.book-item-text {
  width: 90%;
  padding: 2px 0;
}

.book-item-title {
  height: 40%;
  font-weight: 800;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.book-item-author {
  height: 50px;
  font-size: 16px;
}

.book-item-pages {
  font-size: 14px;
}

.book-item-read {
  border-bottom: none;
  font-size: 14px;
}

.book-item-status-read {
  background-color: rgba(0, 0, 0, 0.65);
  color: rgb(168, 168, 168);
}

.book-button-section {
  display: flex;
  align-items: center;
  gap: 4px;
}

.delete-button {
  width: 30px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.6);
}

.delete-button:hover {
  background-color: rgba(222, 221, 221, 0.4);
}

.delete-button:active {
  background-color: rgba(189, 188, 188, 0.4);
}

#book-list,
.forms-section {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  padding: 20px;
}

.forms-section {
  display: flex;
  gap: 10px;
  height: 60px;
  align-items: center;
}

.form-invisible {
  display: none;
}

.form-visible {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.form {
  font-size: 12px;
}

input {
  border-radius: 4px;
  border: 1px;
}

#change-status-button {
  background-color: rgba(249, 238, 232, 0.6);
  width: 100px;
  height: 25px;
}

#change-status-button:hover {
  background-color: rgba(252, 230, 219, 0.6);
}

#change-status-button:active {
  background-color: rgba(255, 225, 210, 0.6);
}

#new-book-button {
  width: 150px;
  height: 36px;
  background-color: rgb(249, 238, 232);
}

#new-book-button:hover {
  background-color: rgb(252, 230, 219);
}

#new-book-button:active {
  background-color: rgb(255, 225, 210);
}

#submit-button {
  width: 150px;
  height: 36px;
  background-color: rgb(177, 199, 206);
}

#submit-button:hover {
  background-color: rgb(152, 181, 190);
}

#submit-button:active {
  background-color: rgb(113, 146, 156);
}
